
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%
}

/* From https://dev.to/mcrowder65/how-to-center-elements-horizontally-on-a-create-react-app-project-1omn */
/* For centering the page vertically */
body {
  min-height: 100vh;
  height: -webkit-fill-available;
}

/* From https://allthingssmitty.com/2020/05/11/css-fix-for-100vh-in-mobile-webkit/ */
/* This ensures the bottom of the webpage is visible on mobile browsers. */
html {
  height: -webkit-fill-available;
}

.auth-form {
  margin-top: 10px;
}

.loader {
  margin: 100px auto;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}