body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%
}

/* From https://dev.to/mcrowder65/how-to-center-elements-horizontally-on-a-create-react-app-project-1omn */
/* For centering the page vertically */
html, body, #root, #root>div {
  height: 100%;
  margin: 0;
}

.auth-form {
  margin-top: 10px;
}

.loader {
  margin: 100px auto;
}

.loginPage {
  display: flex;
  align-items: center;
  justify-content: center;
}